.footer {
    min-height: 104px;
    background: #0e0e0e;

    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
}

.three-block {
    min-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__regulations {
        color: #ffffff;
    }
}
