@font-face {
    font-family: "Druk Wide";
    src: url(../fonts/Druk-Wide.otf);
}

@font-face {
    font-family: "RobotoRegular";
    src: url(../fonts/Roboto-Regular.ttf);
    src: url(../fonts/RobotoRegular.eot);
    src: url(../fonts/RobotoRegular.woff);
}

@font-face {
    font-family: "RobotoCondensedRegular";
    src: url(../fonts/RobotoCondensed-Regular.ttf);
    src: url(../fonts/RobotoCondensedRegular.eot);
    src: url(../fonts/RobotoCondensedRegular.woff);
}
