@import "fonts";
@import "./sections/header";
@import "./sections/footer";
@import "./sections/popup";

// $baseViewportSize: 529px;
// @function fz($fz, $viewport: $baseViewportSize) {
//   @return ($viewport / $fz) * 1vw;
// }

// @function lh($v) {
//   // $fz: fz(115px);
//   $fz: fz(67px);
//   @return $fz * $v;
// }

$vw-viewport: 1920;
@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return $font / $vw-context * 1vw;
  @return $font;
}

* {
  padding: 0;
  margin: 0;
  // list-style: none;
  outline: none;
  font-family: "Druk Wide", "Roboto", "RobotoCondensed", system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: url("../img/bс_header.png") no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
  height: 100vh;
}

.page {
  flex-grow: 1;
}

.container {
  height: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.two-block {
  // display: flex;
  // flex: 1 1 auto;

  &__row {
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;

    // .col {
    //   position: relative;
    //   width: 100%;
    // }
  }

  &__info {
    padding: 60px 0 0 0;
    // flex: 0 0 50%;
    flex: 0 1 500px;
    // margin: 0;
    // text-align: justify;

    display: block;
    max-width: 100%;
    height: auto;

    .percent {
      // font-size: fz(115px);
      // line-height: lh(0.95);
      font-size: get-vw(115px);
      font-family: "Druk Wide";
      // font-size: 115px;
      font-style: normal;
      font-weight: 700;
      // line-height: 150px;
      text-align: left;
      letter-spacing: 0.6rem;
      color: #ffcc00;
      max-width: 100%;
    }

    .insurance {
      // color: #ffffff;
      // font-family: Druk Wide, sans-serif;
      // font-style: normal;
      // font-weight: bold;
      // font-size: 67px;
      // line-height: 67px;
      // text-align: justify;
      margin-bottom: 15px;

      &__itext-1 {
        font-family: "Druk Wide", sans-serif;
        // font-size: 67px;
        // line-height: 67px;

        font-size: get-vw(67px);

        // font-size: fz(67px);
        // line-height: lh(0.95);
        font-weight: 700;
        // font-style: normal;
        // letter-spacing: 0em;
        // transform: scaleY(0.75);
        letter-spacing: 0.8rem;
        color: #ffffff;
      }

      &__itext-2 {
        font-family: "Druk Wide", sans-serif;
        letter-spacing: 0.6rem;
        color: #ffffff;
        // font-size: 60px;
        // line-height: 48px;

        font-size: get-vw(48px);
        //   font-size: fz(48px);
        // line-height: lh(1);
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.6rem;
        text-align: left;
      }
    }

    .description {
      margin-bottom: 35px;

      &__dtext-1 {
        font-family: "RobotoRegular", sans-serif;
        // font-size: 27px;
        // line-height: 32px;
        font-size: get-vw(27px);
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
      }
      &__dtext-2 {
        font-family: "RobotoRegular", sans-serif;
        // font-size: 23px;
        font-size: get-vw(23px);
        font-style: normal;
        font-weight: 400;
        // line-height: 26px;
        letter-spacing: 0em;
        text-align: left;

        color: #ffffff;
      }
    }

    .text {
      color: #ffffff;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 32px;
      max-width: 506px;
    }

    .btn-play {
      width: 327px;
      height: 86px;
      background: #ffcc00;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      font-family: "RobotoCondensedRegular", sans-serif;
      font-size: 35px;
      // font-size: get-vw(35px);
      font-weight: bolder;
      line-height: 41 / 35 * 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-stretch: semi-condensed;

      &:hover {
        background: #c29b00;
        color: #ffffff;
      }

      &:active {
        transform: translate(1px, 1px);
      }
    }
  }

  &__player-img {
    // flex: 0 0 50%;
    flex: 0 1 729px;

    img {
      // display: block;
      max-width: 100%;
      height: auto;
    }
    // height: 587px;
    // margin-bottom: 71px;
  }
}
