$vw-viewport: 320;
@function gets-vw($font) {
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}

@media (max-width: 320px) {
    .container {
        height: 100%;
        max-width: 230px !important;
        padding: 0 !important;
    }

    .header {
        padding: 21px 0 15px 0;
        
        &__logo {
            width: 66px;
            height: 22px;
        }
    }

    .two-block {
        // grid-template-columns: repeat(auto-fit, 289px);

        &__row {
            flex-direction: column;
            height: 47%;
        }

        &__info {
            padding: 0 !important;
            max-width: 231px !important;
            margin-bottom: 27px;
            
        }

        &__player-img {
            // flex: 0 0 50%;
            // flex: 0 1 280px;
            min-width: 280px;
            align-self: center;
            // height: 239px;

            img {
                // display: block;
                max-width: 100%;
                height: 233px !important;
            }
        }
    }

    .insurance {
        text-align: center;
        margin-bottom: 8px !important;
        

        &__itext-1 {
            text-align: center !important;
            font-size: gets-vw(31px) !important;
            line-height: 31px;
            letter-spacing: 0 !important;
            letter-spacing: .4rem !important;
        }

        &__itext-2 {
            text-align: center !important;
            font-size: gets-vw(22px) !important;
            line-height: 22px;
            letter-spacing: 0 !important;
            letter-spacing: .3rem !important;
        }
    }

    .description {
        margin-bottom: 17px !important;

        &__dtext-1 {
            text-align: center !important;
            font-size: gets-vw(12px) !important;
            line-height: 15px;
            
        }

        &__dtext-2 {
            text-align: center !important;
            font-size: gets-vw(10px) !important;
            line-height: 12px;
            
        }


    }

    .percent {
        text-align: center !important;
        font-size: gets-vw(53px) !important;
        line-height: 69px;
    }

    .btn-play {
        width: 157px !important;
        height: 38px !important;
        font-size: 15px !important;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
        display: flex;
        margin: 0 auto;
        border-radius: 5px !important;
        margin-bottom: 27px;

    }

    .footer {
        min-height: 66px;
        top: 92%;

        .ft-container {
            height: 100%;
            max-width: 350px;
            margin: 0 auto;
            padding: 0;
            display: flex;
            align-items: center;
        }

        .three-block {
            position: relative;
            justify-content: space-around;
            padding: 20px;

            &__store {
                display: flex;
                align-self: flex-end;
                img {
                    width: 67px;
                    height: 19px;
                }
            }

            &__icons-team {
                img {
                    width: 16px;
                    height: 21px;
                    padding: 0;
                    margin: 2px 3px;
                }
            }

            &__regulations {
                position: absolute;
                align-self: flex-start;
                top: 0;
            }

            .popup-link {
                font-size: 10px !important;
                font-style: normal !important;
                font-weight: 400 !important;
                line-height: 12px !important;
                letter-spacing: 0em !important;
                text-align: center !important;
            }
        }
    }

    .popup {
        // width: 278px !important;
        // height: 400px !important;
        top: 0;
        left: 0;
    }

    .popup__body {
        width: 230px !important;
        height: 400px !important;
        padding: 0;
    }

    .popup__content {
        padding: 0;
        width: 230px !important;
        height: 400px !important;
        // overflow-y: auto;
        background-color: #171717;
        position: relative;
    
        .all {
            color: #ffffff;
            max-width: 600px;
            max-height: 1040px;
            padding: 0 10px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    .popup__title {
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    .popup__text {
        font-size: 12px;
        margin-bottom: 45px;
    }
}
