$vw-viewport: 320;
@function gets-vw($font) {
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}

@media (max-width: 320px) {
    .container {
        height: 100%;
        max-width: 230px !important;
        padding: 0 !important;
    }

    .header {
        padding: 21px 0 0 0;

        &__logo {
            width: 66px;
            height: 22px;
        }
    }

    .two-block {
        &__row {
            flex-direction: column;
            height: 47%;
        }

        &__info {
            padding: 0 !important;
            max-width: 231px !important;
        }

        &__player-img {
            min-width: 280px;
            align-self: center;

            img {
                max-width: 100%;
                height: 233px !important;
            }
        }
    }

    .insurance {
        text-align: center;
        margin-bottom: 8px !important;

        &__itext-1 {
            text-align: center !important;
            font-size: gets-vw(31px) !important;
            line-height: 31px;
            letter-spacing: 0 !important;
            letter-spacing: 0.4rem !important;
        }

        &__itext-2 {
            text-align: center !important;
            font-size: gets-vw(22px) !important;
            line-height: 22px;
            letter-spacing: 0 !important;
            letter-spacing: 0.3rem !important;
        }
    }

    .description {
        margin-bottom: 17px !important;

        &__dtext-1 {
            text-align: center !important;
            font-size: gets-vw(12px) !important;
            line-height: 15px;
        }

        &__dtext-2 {
            text-align: center !important;
            font-size: gets-vw(10px) !important;
            line-height: 12px;
        }
    }

    .percent {
        font-size: gets-vw(53px) !important;
        line-height: 69px;
    }

    .btn-play {
        width: 157px !important;
        height: 38px !important;
        font-size: 15px !important;
        font-style: normal;
        letter-spacing: 0em;
        display: flex;
        margin: 0 auto;
        border-radius: 5px !important;
        margin-bottom: 18px;
    }

    .footer {
        min-height: 66px;
        top: 89%;

        .ft-container {
            height: 100%;
            max-width: 350px;
            margin: 0 auto;
            padding: 0;
        }

        .three-block {
            position: relative;
            justify-content: space-around;
            padding: 20px;

            &__store {
                display: flex;
                align-self: flex-end;
                img {
                    width: 67px;
                    height: 19px;
                }
            }

            &__icons-team {
                img {
                    width: 16px;
                    height: 21px;
                    padding: 0;
                    margin: 2px 3px;
                }
            }

            &__regulations {
                position: absolute;
                align-self: flex-start;
                top: 0;
            }

            .popup-link {
                font-size: 10px !important;
                font-style: normal !important;
                font-weight: 400 !important;
                line-height: 12px !important;
                letter-spacing: 0em !important;
                text-align: center !important;
            }
        }
    }

    .popup {
        top: 0;
        left: 0;
        align-items: flex-start;
    }

    .popup__body {
        padding: 0;
    }

    .popup__content {
        padding: 10px;
        background-color: #171717;
        position: relative;
        top: 95px;

        .all {
            color: #ffffff;
            max-width: 278px;
            max-height: 355px;
        }
    }

    .popup__title {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .popup__text {
        font-size: 12px;
        margin-bottom: 20px;
        line-height: 16px;

        li {
            margin: 0 15px;
        }
    }

    .popup__close {
        font-size: 12px;
        right: 12px;
        top: 12px;
    }
}
